# **실습 1: 데이터 탐색 및 전처리 (25점)**

### **과제 제출 안내**

* 제출기한: 2025년 3월 21일(금) 23:55까지
* 제출방법: e-class를 통해 제출
* 이메일 제출 및 기한 초과 제출은 채점하지 않습니다.

### **답안 작성 시 유의사항**

각 문항에 대한 답안은 반드시 Jupyter Notebook에서 직접 실행 가능한 형태로 작성해야 하며, 파일 확장자는 *.ipynb 로 저장하여 제출해야 합니다. 작성된 코드는 Jupyter Notebook에서 실행 시 오류가 발생하지 않아야 합니다. 또한, 코드를 작성할 때는 Google Python Style Guide를 준수하여 명확하고 가독성 있게 작성해 주시기 바랍니다. 코드를 제외한 설명이나 실행 결과 해석 등은 모두 주석(#)으로 처리하여 실행 시 오류가 발생하지 않도록 유의하세요.

지정된 기한 이후 제출하거나 이메일로 제출된 파일은 채점하지 않습니다. 반드시 정해진 기한과 제출 방법을 준수하여 제출하시기 바랍니다.

### **실습 문제**

국토교통부에서 운영하는 실거래가 공개시스템(http://rt.molit.go.kr/)은 2006년 1월 이후 체결된 부동산 거래 정보를 제공하고 있습니다. 이번 실습에서는 실거래가 공개시스템에서 다운로드한 데이터를 이용하여 데이터 탐색 및 전처리 함수를 학습해보겠습니다.
e-class의 데이터 압축 파일에는 2018년 상반기 동대문구와 성북구의 아파트 및 단독주택 매매 거래 정보가 포함되어 있으며, 건축 연도나 면적 등의 기본 정보는 별도 파일로 저장되어 있습니다(총 4개의 CSV 파일).

각 파일은 다음과 같이 Pandas 라이브러리의 read_csv() 함수를 이용하여 불러오겠습니다.

In [54]:
import pandas as pd

aptsales = pd.read_csv("apt_sales.csv", encoding="CP949")          # 아파트 매매거래 정보
aptinfo = pd.read_csv("apt_basicinfo.csv", encoding="CP949")       # 아파트 기본 정보
housesales = pd.read_csv("house_sales.csv", encoding="CP949")      # 단독주택 매매거래 정보
houseinfo = pd.read_csv("house_basicinfo.csv", encoding="CP949")   # 단독주택 기본 정보

In [56]:
housesales# 단독주택 매매거래 정보

        id     si    gu   dong bunji  yearSold daySold  salesPrice
0        1  서울특별시   성북구    길음동   5**    201801   11~20       32330
1        4  서울특별시   성북구    길음동   5**    201801    1~10       52800
2       12  서울특별시   성북구    길음동   9**    201801   21~31       46850
3       28  서울특별시   성북구  동선동4가   2**    201801    1~10      111000
4       30  서울특별시   성북구  동선동5가    7*    201801   11~20       36600
...    ...    ...   ...    ...   ...       ...     ...         ...
1317  1290  서울특별시  동대문구    휘경동    9*    201806    1~10       40500
1318  1295  서울특별시  동대문구    휘경동   1**    201806   21~30       36000
1319  1303  서울특별시  동대문구    휘경동   1**    201806   11~20       47000
1320  1307  서울특별시  동대문구    휘경동   1**    201806   11~20       45000
1321  1309  서울특별시  동대문구    휘경동   1**    201806   11~20       52530

[1322 rows x 8 columns]

In [58]:
houseinfo

,id,si,gu,dong,bunji,type,roadCondition,buildingSize,landSize,yearBuilt,address
0,1,서울특별시,성북구,길음동,5**,단독,8m미만,19.83,46.0,1980.0,길음로1길
1,2,서울특별시,성북구,길음동,5**,단독,8m미만,24.97,53.0,1985.0,동소문로43다길
2,3,서울특별시,성북구,길음동,4**,단독,-,70.83,57.0,1991.0,숭인로16가길
3,4,서울특별시,성북구,길음동,5**,단독,8m미만,51.00,60.0,1985.0,길음로5길
4,5,서울특별시,성북구,길음동,5**,단독,8m미만,39.67,63.0,1940.0,길음로1가길
...,...,...,...,...,...,...,...,...,...,...,...
1317,1318,서울특별시,동대문구,휘경동,3**,단독,8m미만,229.04,159.0,1983.0,전농로38길
1318,1319,서울특별시,동대문구,휘경동,2**,단독,8m미만,212.73,165.0,1970.0,망우로18나길
1319,1320,서울특별시,동대문구,휘경동,1**,단독,8m미만,450.48,195.0,1994.0,회기로31길
1320,1321,서울특별시,동대문구,휘경동,2**,단독,8m미만,320.57,212.0,1994.0,망우로12라길
1321,1322,서울특별시,동대문구,휘경동,2**,단독,25m이상,795.80,486.0,1985.0,망우로21가길

##### 1. [10점] 단독주택 매매거래 정보를 사용하여 다음의 질문에 답하세요. 모든 답안은 실행 가능한 코드로 작성하고 코드로 작성할 수 없는 설명은 반드시 주석(##)으로 작성하여 실행 시 오류가 발생하지 않도록 하세요.

(1) [2점] info( ) 함수를 사용하여 단독주택 매매거래 데이터에 총 몇 개의 변수가 저장되어 있는지 확인하고, 그 중 매매가격(salesPrice)은 몇 번째에 위치해 있는지 적으시오.

In [62]:
housesales.info() 
# Data columns (total 8 columns) 정보에 따르면 총 변수 개수는 8개이고 매매가격위치는 7번째에 위치해 있다

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1322 entries, 0 to 1321
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          1322 non-null   int64
 1   si          1322 non-null   object
 2   gu          1322 non-null   object
 3   dong        1322 non-null   object
 4   bunji       1322 non-null   object
 5   yearSold    1322 non-null   int64
 6   daySold     1322 non-null   object
 7   salesPrice  1322 non-null   int64
dtypes: int64(3), object(5)
memory usage: 82.8+ KB

(2) [2점] merge() 함수를 사용하여 단독주택 매매거래 데이터와 기본 정보 데이터를 id 변수를 기준으로 결합하고 이를 새로운 데이터프레임으로 저장하는 코드를 작성하시오.

In [65]:
df = pd.merge(housesales, houseinfo, on='id', how='inner')
df

,id,si_x,gu_x,dong_x,bunji_x,yearSold,daySold,salesPrice,si_y,gu_y,dong_y,bunji_y,type,roadCondition,buildingSize,landSize,yearBuilt,address
0,1,서울특별시,성북구,길음동,5**,201801,11~20,32330,서울특별시,성북구,길음동,5**,단독,8m미만,19.83,46.0,1980.0,길음로1길
1,4,서울특별시,성북구,길음동,5**,201801,1~10,52800,서울특별시,성북구,길음동,5**,단독,8m미만,51.00,60.0,1985.0,길음로5길
2,12,서울특별시,성북구,길음동,9**,201801,21~31,46850,서울특별시,성북구,길음동,9**,단독,8m미만,49.58,104.2,1980.0,동소문로43가길
3,28,서울특별시,성북구,동선동4가,2**,201801,1~10,111000,서울특별시,성북구,동선동4가,2**,단독,12m미만,72.73,161.3,NaN,동소문로25가길
4,30,서울특별시,성북구,동선동5가,7*,201801,11~20,36600,서울특별시,성북구,동선동5가,7*,다가구,8m미만,135.06,82.6,1993.0,동소문로29길
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,1290,서울특별시,동대문구,휘경동,9*,201806,1~10,40500,서울특별시,동대문구,휘경동,9*,단독,8m미만,91.56,69.0,1993.0,외대역동로7길
1318,1295,서울특별시,동대문구,휘경동,1**,201806,21~30,36000,서울특별시,동대문구,휘경동,1**,단독,8m미만,50.94,83.0,1967.0,휘경로
1319,1303,서울특별시,동대문구,휘경동,1**,201806,11~20,47000,서울특별시,동대문구,휘경동,1**,단독,8m미만,132.06,96.0,1991.0,휘경로12가길
1320,1307,서울특별시,동대문구,휘경동,1**,201806,11~20,45000,서울특별시,동대문구,휘경동,1**,단독,8m미만,119.23,109.0,1993.0,회기로29길
1321,1309,서울특별시,동대문구,휘경동,1**,201806,11~20,52530,서울특별시,동대문구,휘경동,1**,단독,8m미만,57.62,116.0,1967.0,휘경로14길

(3) [2점] 결합 후 중복되는 변수는 제거한 후 rename() 함수를 사용하여 단독주택 데이터의 변수명을 si는 city, gu는 district, dong은 street, bunji는 number로 변경하는 코드를 작성하시오.

In [68]:
df=df.rename(columns={'si_x': 'city_x', 'si_y': 'city_y', 'gu_x': 'district_x', 'gu_y': 'district_y', 'dong_x': 'street_x', 'dong_y': 'street_y', 'bunji_x': 'number_x', 'bunji_y': 'number_y',})
df

,id,city_x,district_x,street_x,number_x,yearSold,daySold,salesPrice,city_y,district_y,street_y,number_y,type,roadCondition,buildingSize,landSize,yearBuilt,address
0,1,서울특별시,성북구,길음동,5**,201801,11~20,32330,서울특별시,성북구,길음동,5**,단독,8m미만,19.83,46.0,1980.0,길음로1길
1,4,서울특별시,성북구,길음동,5**,201801,1~10,52800,서울특별시,성북구,길음동,5**,단독,8m미만,51.00,60.0,1985.0,길음로5길
2,12,서울특별시,성북구,길음동,9**,201801,21~31,46850,서울특별시,성북구,길음동,9**,단독,8m미만,49.58,104.2,1980.0,동소문로43가길
3,28,서울특별시,성북구,동선동4가,2**,201801,1~10,111000,서울특별시,성북구,동선동4가,2**,단독,12m미만,72.73,161.3,NaN,동소문로25가길
4,30,서울특별시,성북구,동선동5가,7*,201801,11~20,36600,서울특별시,성북구,동선동5가,7*,다가구,8m미만,135.06,82.6,1993.0,동소문로29길
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1317,1290,서울특별시,동대문구,휘경동,9*,201806,1~10,40500,서울특별시,동대문구,휘경동,9*,단독,8m미만,91.56,69.0,1993.0,외대역동로7길
1318,1295,서울특별시,동대문구,휘경동,1**,201806,21~30,36000,서울특별시,동대문구,휘경동,1**,단독,8m미만,50.94,83.0,1967.0,휘경로
1319,1303,서울특별시,동대문구,휘경동,1**,201806,11~20,47000,서울특별시,동대문구,휘경동,1**,단독,8m미만,132.06,96.0,1991.0,휘경로12가길
1320,1307,서울특별시,동대문구,휘경동,1**,201806,11~20,45000,서울특별시,동대문구,휘경동,1**,단독,8m미만,119.23,109.0,1993.0,회기로29길
1321,1309,서울특별시,동대문구,휘경동,1**,201806,11~20,52530,서울특별시,동대문구,휘경동,1**,단독,8m미만,57.62,116.0,1967.0,휘경로14길

(4) [2점] 단독주택 매매거래 데이터에서 단위면적(landSize)당 매매가격을 나타내는 새로운 파생변수가 추가된 데이터프레임을 생성하는 코드를 작성하시오.

In [71]:
df['price_per_unit'] = df['salesPrice'] / df['landSize']

(5) [2점] 성북구에 소재한 단독주택의 단위면적당 매매가격 분포를 describe() 함수를 이용하여 확인하는 코드를 작성하시오.

In [74]:
df.describe()

,id,yearSold,salesPrice,buildingSize,landSize,yearBuilt,price_per_unit
count,1322.000000,1322.000000,1322.000000,1322.000000,1322.000000,1321.000000,1322.000000
mean,661.500000,201803.434191,59012.578669,131.623752,119.444841,1980.733535,518.195215
std,381.772838,1.693550,46020.435846,120.551034,202.054216,12.140659,214.330972
min,1.000000,201801.000000,3780.000000,12.180000,4.000000,1912.000000,5.022241
25%,331.250000,201802.000000,32500.000000,49.135000,76.000000,1972.000000,397.649293
50%,661.500000,201803.000000,47500.000000,98.930000,99.000000,1980.000000,482.683658
75%,991.750000,201805.000000,67783.750000,174.365000,133.150000,1991.000000,591.685079
max,1322.000000,201806.000000,480000.000000,1025.030000,6969.000000,2018.000000,2642.857143

##### 2. [15점] 아파트 매매거래 데이터를 사용하여 다음 질문에 답하세요.모든 답안은 실행 가능한 코드로 작성하고 코드로 작성할 수 없는 설명은 반드시 주석(##)으로 처리하여 실행 시 오류가 발생하지 않도록 하세요

(1) [2점] info( ) 함수를 사용하여 아파트 매매거래 데이터에 총 몇 개의 변수가 저장되어 있는지 확인하고, 그 중 매매가격(salesPrice)은 몇 번째에 위치해 있는지 적으시오.

In [78]:
aptsales.info() #매매가격은 9번째에 위치하고 변수는 총 10개가 저장되어있다.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4776 entries, 0 to 4775
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4776 non-null   int64
 1   si          4776 non-null   object
 2   gu          4776 non-null   object
 3   dong        4776 non-null   object
 4   bunji       4776 non-null   object
 5   mainBun     4776 non-null   int64
 6   subBun      4776 non-null   int64
 7   yearSold    4776 non-null   int64
 8   daySold     4776 non-null   object
 9   salesPrice  4776 non-null   int64
dtypes: int64(5), object(5)
memory usage: 373.3+ KB

(2) [2점] merge() 함수를 사용하여 아파트 매매거래 데이터와 기본 정보 데이터를 id 변수를 기준으로 결합하고 이를 새로운 데이터프레임으로 저장하는 코드를 작성하시오.

In [81]:
df2 = pd.merge(aptsales,aptinfo, on='id', how='inner') #inner교집합 , 공통된 id값만 변합된다.

(3) [2점] 결합 후 중복되는 변수는 제거한 후 rename() 함수를 사용하여 아파트 데이터의 변수명을 si는 city, gu는 district, dong은 street, bunji는 number로 변경하는 코드를 작성하시오.

In [84]:
df2=df2.rename(columns={'si_x': 'city_x', 'si_y': 'city_y', 'gu_x': 'district_x', 'gu_y': 'district_y', 'dong_x': 'street_x', 'dong_y': 'street_y', 'bunji_x': 'number_x', 'bunji_y': 'number_y',})
df2

,id,city_x,district_x,street_x,number_x,mainBun_x,subBun_x,yearSold,daySold,salesPrice,...,district_y,street_y,number_y,mainBun_y,subBun_y,apartmentName,size,floor,yearBuilt,address
0,1,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,59000,...,동대문구,답십리동,111,111,0,답십리대우,114.940,11,2002,답십리로41길
1,2,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,41500,...,동대문구,답십리동,111,111,0,답십리대우,59.760,17,2002,답십리로41길
2,3,서울특별시,동대문구,답십리동,111,111,0,201801,11~20,42000,...,동대문구,답십리동,111,111,0,답십리대우,59.760,17,2002,답십리로41길
3,9,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,37800,...,동대문구,답십리동,80,80,0,답십리청솔우성,59.740,21,2000,전농로10길
4,10,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,46500,...,동대문구,답십리동,80,80,0,답십리청솔우성,84.940,5,2000,전농로10길
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,4724,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,48500,...,성북구,하월곡동,222,222,0,월곡두산위브,84.766,15,2003,오패산로
4772,4725,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,53000,...,성북구,하월곡동,222,222,0,월곡두산위브,84.843,5,2003,오패산로
4773,4767,서울특별시,성북구,하월곡동,226,226,0,201806,1~10,53500,...,성북구,하월곡동,226,226,0,월곡래미안루나밸리,59.980,23,2007,월곡로14길
4774,4768,서울특별시,성북구,하월곡동,226,226,0,201806,11~20,55000,...,성북구,하월곡동,226,226,0,월곡래미안루나밸리,59.980,19,2007,월곡로14길
4775,4769,서울특별시,성북구,하월곡동,226,226,0,201806,21~30,73500,...,성북구,하월곡동,226,226,0,월곡래미안루나밸리,114.930,15,2007,월곡로14길

(4) [2점] 아파트 데이터에서 단위면적(size) 당 매매가격을 나타내는 새로운 파생변수가 추가된 데이터프레임을 생성하는 코드를 작성하시오.

In [87]:
 df2['price_per_unit'] = df2['salesPrice'] / df2['size'] #가격/단위면적을 하게 되면 된다.

(5) [2점] describe() 함수를 사용하여 동대문구에 소재한 아파트의 단위면적당 매매가격 분포를 확인하는 코드를 작성하시오.

In [90]:
df2.describe()

,id,mainBun_x,subBun_x,yearSold,salesPrice,mainBun_y,subBun_y,size,floor,yearBuilt,price_per_unit
count,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000,4776.000000
mean,2388.500000,515.409966,6.336683,201802.952052,48576.438442,515.409966,6.336683,80.706446,9.674832,2003.583752,622.932317
std,1378.856773,436.133413,66.800355,1.626097,13345.928994,436.133413,66.800355,23.129770,5.952130,6.770161,155.322747
min,1.000000,1.000000,0.000000,201801.000000,10100.000000,1.000000,0.000000,12.580000,-1.000000,1969.000000,215.544368
25%,1194.750000,131.000000,0.000000,201802.000000,40000.000000,131.000000,0.000000,59.950000,5.000000,2000.000000,515.074718
50%,2388.500000,361.000000,0.000000,201803.000000,47800.000000,361.000000,0.000000,84.720000,9.000000,2004.000000,597.296659
75%,3582.250000,994.000000,0.000000,201804.000000,56000.000000,994.000000,0.000000,84.980000,14.000000,2008.000000,704.107293
max,4776.000000,1286.000000,2066.000000,201806.000000,110000.000000,1286.000000,2066.000000,200.530000,41.000000,2018.000000,1398.002853

(6) [3점] cut() 함수를 사용하여 salesPrice 변수를 4개 구간으로 나누고, 각 구간에 따라 "A", "B", "C", "D" 값을 부여하는 코드를 작성하시오.

In [93]:
# bin 자동으로 4개의 구간으로 나누어 오름차순으로 D C B A로 값을 부여한다
df2['price_category'] = pd.cut(df2['salesPrice'], bins=4, labels=["D", "C", "B", "A"])
df2

,id,city_x,district_x,street_x,number_x,mainBun_x,subBun_x,yearSold,daySold,salesPrice,...,number_y,mainBun_y,subBun_y,apartmentName,size,floor,yearBuilt,address,price_per_unit,price_category
0,1,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,59000,...,111,111,0,답십리대우,114.940,11,2002,답십리로41길,513.311293,C
1,2,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,41500,...,111,111,0,답십리대우,59.760,17,2002,답십리로41길,694.444444,C
2,3,서울특별시,동대문구,답십리동,111,111,0,201801,11~20,42000,...,111,111,0,답십리대우,59.760,17,2002,답십리로41길,702.811245,C
3,9,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,37800,...,80,80,0,답십리청솔우성,59.740,21,2000,전농로10길,632.741881,C
4,10,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,46500,...,80,80,0,답십리청솔우성,84.940,5,2000,전농로10길,547.445255,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,4724,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,48500,...,222,222,0,월곡두산위브,84.766,15,2003,오패산로,572.163367,C
4772,4725,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,53000,...,222,222,0,월곡두산위브,84.843,5,2003,오패산로,624.683238,C
4773,4767,서울특별시,성북구,하월곡동,226,226,0,201806,1~10,53500,...,226,226,0,월곡래미안루나밸리,59.980,23,2007,월곡로14길,891.963988,C
4774,4768,서울특별시,성북구,하월곡동,226,226,0,201806,11~20,55000,...,226,226,0,월곡래미안루나밸리,59.980,19,2007,월곡로14길,916.972324,C
4775,4769,서울특별시,성북구,하월곡동,226,226,0,201806,21~30,73500,...,226,226,0,월곡래미안루나밸리,114.930,15,2007,월곡로14길,639.519708,B

(7) [2점] 건축연도(yearBuilt)를 기준으로 2000년 이전은 "0", 2000년 이후는 "1"로 구분하는 더미변수를 생성하고 저장하는 코드를 작성하시오.

In [99]:
# 0~1999년까지는 0, 2000~3000년까지는 1로 구분한다.
bins = [0, 1999, 3000]
df2['yearBuilt_dummy'] = pd.cut(df2['yearBuilt'], bins, labels=[0, 1])
df2

,id,city_x,district_x,street_x,number_x,mainBun_x,subBun_x,yearSold,daySold,salesPrice,...,mainBun_y,subBun_y,apartmentName,size,floor,yearBuilt,address,price_per_unit,price_category,yearBuilt_dummy
0,1,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,59000,...,111,0,답십리대우,114.940,11,2002,답십리로41길,513.311293,C,1
1,2,서울특별시,동대문구,답십리동,111,111,0,201801,1~10,41500,...,111,0,답십리대우,59.760,17,2002,답십리로41길,694.444444,C,1
2,3,서울특별시,동대문구,답십리동,111,111,0,201801,11~20,42000,...,111,0,답십리대우,59.760,17,2002,답십리로41길,702.811245,C,1
3,9,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,37800,...,80,0,답십리청솔우성,59.740,21,2000,전농로10길,632.741881,C,1
4,10,서울특별시,동대문구,답십리동,80,80,0,201801,1~10,46500,...,80,0,답십리청솔우성,84.940,5,2000,전농로10길,547.445255,C,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4771,4724,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,48500,...,222,0,월곡두산위브,84.766,15,2003,오패산로,572.163367,C,1
4772,4725,서울특별시,성북구,하월곡동,222,222,0,201806,21~30,53000,...,222,0,월곡두산위브,84.843,5,2003,오패산로,624.683238,C,1
4773,4767,서울특별시,성북구,하월곡동,226,226,0,201806,1~10,53500,...,226,0,월곡래미안루나밸리,59.980,23,2007,월곡로14길,891.963988,C,1
4774,4768,서울특별시,성북구,하월곡동,226,226,0,201806,11~20,55000,...,226,0,월곡래미안루나밸리,59.980,19,2007,월곡로14길,916.972324,C,1
4775,4769,서울특별시,성북구,하월곡동,226,226,0,201806,21~30,73500,...,226,0,월곡래미안루나밸리,114.930,15,2007,월곡로14길,639.519708,B,1